form{

    display: flex;
    max-width: 640px;
    justify-content: space-between;
    margin-bottom: 56px;

}


form  button{

    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 160px;
    padding: 8px;
    border-radius: 3px;
    margin-left: 5px;

}

form input{

    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 5px;
    padding: 8px;
    margin-right: 5px;

}